.DS_Store
dbus_binding.h
herrie/*.core
herrie/*.mo
herrie/*.o
herrie/.gdb_history
herrie/Makefile
herrie/debian/files
herrie/debian/herrie*
herrie/herrie
herrie/herrie.1.gz
herrie/src/tags
herrie_*
misc/cdepcalc
www/distfiles
www/doc
www/doxygen
