#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

Makefile: configure
	dh_testdir
	PREFIX="/usr" CONFDIR="/etc" MANDIR="/usr/share/man" CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-as-needed,-z,defs" ./configure


build: Makefile
	dh_testdir
	$(MAKE)

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	DESTDIR="$(CURDIR)/debian/herrie" $(MAKE) install

	# Transform config sample into commented out config file
	sed -r 's/^([^#])/#\1/' $(CURDIR)/debian/herrie/etc/herrie.conf.sample > $(CURDIR)/debian/herrie/etc/herrie.conf
	rm -f $(CURDIR)/debian/herrie/etc/herrie.conf.sample


# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installmime
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
